# RBAC Kustomization
# All Role-Based Access Control resources consolidated

apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  # Controller RBAC
  - clusterrolebinding.yaml
  - leader-election-role.yaml    # Namespace-scoped Role for leader election
  - role.yaml
  - rolebinding.yaml
  # Spark job RBAC (for driver pods to create executors)
  - spark-application-rbac.yaml       
  - sparkapplication_viewer_role.yaml
  - sparkapplication_editor_role.yaml
  - scheduledsparkapplication_viewer_role.yaml
  - scheduledsparkapplication_editor_role.yaml

patches:
  - patch: |-
      - op: add
        path: /rules/0/apiGroups
        value: [""]
      - op: add
        path: /rules/1/apiGroups
        value: [""]
      - op: add
        path: /rules/2/apiGroups
        value: [""]
      - op: add
        path: /rules/3/apiGroups
        value: [""]
      - op: add
        path: /rules/4/apiGroups
        value: [""]
      - op: add
        path: /rules/5/apiGroups
        value: [""]
      - op: add
        path: /rules/6/apiGroups
        value: [""]
      - op: add
        path: /rules/6/verbs/-
        value: "patch"
    target:
      kind: ClusterRole
      name: spark-operator-controller